*{box-sizing: border-box;}
body{font-family: 'Karma', serif;line-height:1.4;color:#333}
img{width: 100%;height: auto;display: block;}
.wrap{max-width: 1200px;margin:0 auto;}
.h1{font-size:24px;}
.h2{font-size:16px;}
.text-basic{font-size:15px}

.hd{width: 100%; background: #fff; position: fixed; left: 0; top: 0;}
.hd .wrap{display: flex;align-items:center;justify-content:center;height: 68px;background: #fff;width: 100%;}
.hd .menu-i{margin-right: auto; width: 54px; padding: 0 20px; height: 100%; display: flex; flex-direction: column; justify-content: center;}
.hd .menu-i:hover{background: #eee;}
.hd .menu-i span{display: block;margin-top: 3px;background: #000;height: 2px;border-radius: 1px;}
.hd .menu-i span:first-child{margin-top:0;}
.hd .mail{margin-left: auto; padding: 0 8px; }

.contents{padding:0 24px;margin-top:100px}
.contents .sec{border-bottom:1px solid #f1f1f1;padding-bottom:52px;margin-bottom:52px;}

.food-list .slider{}
.food-list .slider {display: flex;margin-bottom:32px}
.food-list .slider li{width: calc((100% - 64px)/4);margin:0 8px;}
.food-list .slider li img{margin-bottom: 16px;}
.food-list .slider li .h1{margin-bottom: 16px; text-align: center;}
.food-list .slider li .text-basic{text-align: center;}
.food-list .pager{display: flex;margin:32px auto 0;justify-content: center; align-items: center;}
.food-list .pager li{padding: 8px 16px;}
.food-list .pager li.on,
.food-list .pager li:hover{background: #000;color:#fff}


.who{}
.who .h1{text-align: center;margin-bottom:32px;}
.who img{max-width: 800px;margin:0 auto 32px;}
.who p{text-align: center;margin-bottom:16px;}
.who .who-text-big{font-size:20px;}
.who .who-text-mid{font-style: italic;}

.ft{display: flex;padding:0 24px;padding-bottom:32px;}
.ft .ft-sec{width: calc((100% - 32px)/3);margin-right: 16px;}
.ft .h1{margin-bottom:16px;}
.ft .info .text-basic{margin-bottom:16px;}
.ft .info .text-basic a{color: #333;}
.ft .blog .posts li{display: flex;align-items: center;padding:16px 0}
.ft .blog .posts li:hover{background:#eee;}
.ft .blog .posts li:first-child{border-bottom:1px solid #f1f1f1;}
.ft .blog .posts li img{width: 50px;margin:0 16px}
.ft .blog .posts .post-text{font-size: 16px;}
.ft .blog .posts .post-text span{display: block;}
.ft .tags {margin-right: 0;}
.ft .tags .tag-ul{display: flex;flex-wrap: wrap;align-items: end;}
.ft .tags .tag-ul li{padding:4px 8px 2px;line-height:1;background: #616161;color: #fff;margin:0 4px 16px 0;font-size: 12px;}
.ft .tags .tag-ul li.on{background:#000;font-size:15px;}