#header {position:relative;background: url('../img/sub_bg.png')}
#header h1{background: url('../img/sub_logo.png') no-repeat top center;height:45px}
#header .btn_home{position: absolute;right:4%;top:calc(50% - 12px)}

#content .title{padding: 12px; display: flex;align-items: center;}
#content .title h1{font-size: 16px;font-weight: bold;margin-right: auto;}

#content .class_list_ul .class_list{background: #fff;display: flex; justify-content: center;padding: 20px;    max-width: calc(100% - 12px); margin: 0 auto 12px;}
#content .class_list_ul .class_list>img{width:78px;height: 60px;margin-right: 20px;}
#content .class_list_ul .class_list .class_info li:first-child{font-weight: 700;}
#content .class_list_ul .class_list .class_info li span{font-weight: 400;}

#footer .sns{display: none;}