@import './common.scss';

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

body {
  font-family: 'NanumBarunGothic', sans-serif;
  font-size: $font-m;
  line-height: 1.4;
  position: relative;
  &.modal::before {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
}

.header {
  background: $gray-light;
  width: 100%;
  position: relative;
  z-index: 9999;

  .header-wrap {
    width: $wrap-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 70px;

    img {
      width: 100%;
    }

    .logo {
      width: 155px;
      height: 22px;
      background: url(../img/logo.webp) no-repeat center;
      background-size: cover;
    }

    .lnb {
      display: flex;
      align-items: center;

      li {
        padding: 0 15px;
        margin-right: 40px;
        font-weight: 700;
        color: $gray-666;

        &:hover {
          > a{
            color: $navy;
          }
          
          .lnb-2dep {
            transition: all 0.5s;
          }
        }

        .lnb-2dep {
          position: absolute;
          left: 0;
          top: 70px;
          width: 100%;
          background-color: $gray-light;
          visibility: hidden;
          height: 0px;
          overflow: hidden;

          &.active {
            border: 1px solid #e4dcd3;
            border-right: 0;
            border-left: 0;
            visibility: visible;
            height: 66px;
            transition: height 0.3s;
          }

          .lnb-2dep-wrap {
            width: $wrap-width;
            margin: 0 auto;
            position: relative;

            ul {
              display: flex;
              justify-content: center;

              li {
                margin-right: 80px;
                padding: 0;
              }
            }

            
          }

        }
      }

    }

    .gnb {
      display: flex;
      align-items: center;

      li {
        width: 17px;
        margin-right: 20px;
        &.channel{
          width: 20px;
        }
        &.search{
          .search-modal{
            position: absolute;
            left: 0;
            top: 70px;
            background:$gray-light ;
            width: 100%;
            padding: 20px 0;
            visibility: hidden;
            height: 0px;
            transition: height 0.3s;

            &.active{
              visibility: visible;
              height: 226px;
              transition: height 0.3s;
            }

            .search-modal-wrap{
              width: $wrap-width;
              margin: 0 auto;
            }
            .search-input{
              position: relative;
              width: 572px;
              height: 50px;
              display: flex;
              margin: 0 auto 30px;
              input{
                width: calc(100% - 55px);
                background-color: #fff;
                font-size: 1.2em;
                border: none;
                color: $gray-666;
                padding-left: 20px;
              }
              
              .input-reset{
                display: none;
                background: url(../img/btn_reset.webp) no-repeat right top #fff;
                width: 18px;
                height: 18px;
                position: absolute;
                right: 70px;
                z-index: 999;
                top: 50%;
                transform: translate(0, -50%);
                border: 0;
                padding: 0;
                text-indent: -999px;
                &.active{
                  display: block;
                }
              }
              .btnClose{
                right: -46%;
              }
              .input-search-i{
                width: 55px;
                height: 50px;
                padding: 0 20px;
                background:url(../img/btn_search.webp) no-repeat center #fff;
              }
            }
            .recom{
              width: 572px;
              margin: 0 auto;
              padding:0 0 40px 20px;
              line-height: 1.6;
              h1{
                font-size: 1.2em;
                font-weight: 700;
                margin-bottom: 10px;
                
              }
              ul{
                display: flex;
                align-items: center;
                li{
                  width: auto;
                  color: $gray-666;
                }
              }
            }
          }
          
        }
      }

      .lan {
        width: auto;
        position: relative;
        text-align: center;

        &:hover {
          color: $navy;
          .arrow{
            border-color: $navy;
          }
        }

        &.active {
          .selectbox {
            display: block;
          }
          .arrow{
            transform: rotate(-40deg);
            transition: all 0.2s;
          }
        }

        h1 {
          font-size: $font-l;
          font-weight: 700;
          .arrow {
            width: 8px;
            height: 8px;
            border-top: 2px solid $gray-666;
            border-right: 2px solid $gray-666;
            transform: rotate(135deg);
            display: inline-block;
            margin-left: 6px;
            transition: all 0.2s;
          }

        }

        .selectbox {
          display: none;
          position: absolute;
          top: 70px;
          text-align: center;
          line-height: 32px;
          padding: 10px 0;
          width: 100%;
          background: #f6f3f2;
          font-size: 0.875em;

          li {
            width: 100%;
            color:#000;
            &.selected{
              font-weight: 700;
            }
            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }
    .btnClose{
      height: 100%;
      padding-left: 40px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      .i-close {
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        &:hover{
          transform: rotate(0.5turn);
          transition: all 0.2s;
          cursor: pointer;
        }
        span {
          width: 20px;
          height: 1px;
          background: #333;
          display: block;
          margin-bottom: 12px;
          transform: rotate(45deg);
          position: absolute;
          left: 0;
          top: 50%;

          &:last-child {
            transform: rotate(-45deg);
            margin-bottom: 0;
          }
        }
        
      }
    }
  }
}

.title {
  margin-bottom: 10px;
  font-weight: 700;

  .sub {
    font-size: $font-m;
    font-weight: 400;
    color: $navy;
    margin-bottom: 2px;
    display: block;
  }

  .main {
    font-size: $font-lll;
  }
}

.btn {
  line-height: 36px;
  padding: 0 30px;
  color: #fff;
  background: $gray-btn;
  display: inline-block;
}

.con-s {
  width: 256px;
}

.con-m {
  width: 352px;
}

.con-l {
  width: 448px;
}

.section1 {
  width: $wrap-width;
  margin: 40px auto 100px;

  .tags {
    display: flex;
    align-items: center;
    font-size: 0.875em;
    margin-bottom: 75px;
    a {
      &:hover{
        color:$blue;
      }
    }

    .tags-li {
      color: $gray-666;
      padding: 0 25px;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 9px;
        background: $border;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    .con-left {
      width: 736px;
    }

    .con-right {
      background: url(../img/11-ioniq-power-your-beat-pc-352x390.webp) no-repeat top 0 left 0;

      .title {
        padding: 14px 12px 10px;
        color: #fff;
        background: $navy;
        .sub {
          font-size: $font-ss;
          margin-bottom: 10px;
          color: inherit;
        }

        .main {
          font-size: $font-ll;
        }
      }
    }

  }

  .sec1-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      margin-bottom: 50px;
      .img {
        background: #f1f1f1;
        height: 400px;
        margin-bottom: 15px;
      }

      .title {
        .category{
          font-size: $font-ss;
          color: $navy;
        }
        p{
          font-size: $font-l;
        }
      }
    }
  }
}

.section2 {
  background: $navy;
  color: #fff;
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    .main {
      margin-bottom: 10px;
    }

    .sub {
      color: inherit;
    }

    .btn {
      margin-top: 28px;
    }
  }

  .img {
    width: 544px;
    margin-right: 32px;
  }

}

.section3 {
  width: $wrap-width;
  margin: 70px auto 100px;

  .sns-list {
    display: flex;
    flex-wrap: wrap;

    li {
      width: calc((100% - 64px) / 3);
      min-height: 352px;
      margin-right: 32px;
      margin-bottom: 32px;
      padding: 32px;
      background: url(../img/worldwide-main-instagram-01-8iihs-220315.webp) no-repeat center;

      a{
        display: block;
        height: 100%;
      }

      &:hover {
        .sns-text {
          opacity: 1;
          transition: all 0.5s;
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(2) {
        background: url(../img/worldwide-main-instagram-02-womens-day-220315.webp) no-repeat center;
      }

      &:nth-child(3) {
        background: url(../img/worldwide-main-instagram-03-ioniq5-220315.webp) no-repeat center;
      }

      &:nth-child(4) {
        background: url(../img/worldwide-main-instagram-04-asmr-220315.webp) no-repeat center;
      }

      &:nth-child(5) {
        background: url(../img/worldwide-main-instagram-05-asmr-220315.webp) no-repeat center;
      }

      &:nth-child(6) {
        background: url(../img/worldwide-main-instagram-06-asmr-220315.webp) no-repeat center;
      }

      .sns-text {
        background: $navy;
        height: 100%;
        opacity: 0;
        display: block;
        color: #fff;
        padding: 32px;
        font-size: 18px;
        transition: all 0.5s;
        position: relative;
      }
      .i-instagram{
        background: url(../img/instagram.png) no-repeat center;
        width: 25px;
        height: 25px;
        background-size: contain;
        display: block;
        position: absolute;
        bottom: 32px;
        left: 32px;
      }
    }
  }
}

.ft {
  background: #000;
  padding: 75px 0 82px;

  &-wrap {
    width: $wrap-width;
    margin: 0 auto;
    color: $footer-text;

    .ft-logo {
      margin-bottom: 75px;
    }

    .ft-list-1dep {
      display: flex;
      justify-content: space-between;

      li {
        .title {
          font-size: $font-l;
          color: #fff;
          margin-bottom: 18px;
        }

        .ft-list-2dep {
          font-size: $font-s;

          li {
            line-height: 34px;
          }
        }

        .sns-list {
          display: flex;

          li {
            margin-right: 16px;
            width: 21px;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .ft-copy {
      margin-top: 75px;
    }
  }
}

i.share {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url(../img/ico_link.webp) no-repeat;
  margin-left: 8px;
}