*{margin:0;padding: 0;color: #333;font: 12px;}
ul,ol,li{list-style: none;}
a{display: block;text-decoration: none;}
.gallery {width: 640px;margin: 0 auto;}
.gallery li{width:calc(100% / 4);float: left;}
.gallery li:nth-child(4n):after{clear: both;}
.gallery li a{display: block;color:#333;padding: 10px;}
.gallery li a:hover{background: #eee;}
.gallery li img{display: block;width: 100%;object-fit: cover;}
.gallery li .text{width: 95%; margin: 5px auto 10px; word-break: keep-all; display: block; text-align: center; overflow:hidden;text-overflow: ellipsis; white-space:normal; line-height:1.2; height:2.4em; word-wrap:break-word; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
