body{
  padding: 0;margin:0;
}
.container{
  padding:20px 0;
  width: 640px;
  margin:auto;

  header h1{
    color:#0066ff;
    font-size:28px;
  }
  footer address{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #555;
  }
  section{
    margin-bottom:20px;
  }
  .table{
    width: 100%;
    border-top: 1px solid #444;
    border-collapse:collapse;
    font-size: 14px;
    th,td{
      border-bottom:1px solid #444;
      border-left:1px solid #444;
      padding:10px;
      text-align: center;
      &:first-child{border-left: none;}
    }
    th{
      a{
        margin:0 5px;
      }
    }
  }
  .form-group{
    margin:10px 0;
    padding:0 20px;
    &:after{
      display: block;
      content: '';
      clear: both;
    }
    label{
      float: left;
      width: 100px;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
    }
    div{
      float: left;
      height: 30px;
      line-height: 30px;
    }
  }
  .text-danger{
    color:#f00;
  }
  .text-center{
    text-align: center;
  }
  dt{
    font-weight: bold;
    margin:10px 0;
    font-size: 16px;
    &:before{
      content:'-';
      padding-right:5px;
    }
  }
  dd{
    font-weight: normal;
    margin-bottom:30px;
    border-left:5px #d5d5d5 solid;
    padding-left:15px;
    font-size: 14px;
  }
}


