*{box-sizing: border-box;font-family: "Times New Roman", "Gideon Roman", Serif}
body{font-size:15px;font-family: "Times New Roman", "Gideon Roman", Serif;line-height: 1.2;}
a{color:#000;text-decoration: none;display: block;}
img{width: 100%;height: auto; display: block;}

.h1{font-size: 36px;letter-spacing: 3px;font-family: "Playfair Display";}
.h2{font-size: 18px;letter-spacing: 3px;}
.btn{padding:8px 16px;}
.btn:hover{background:#ccc!important;color:#000;}

.header{display: flex;align-items: center;height: 54px;position: fixed;top:0;background: #fff; width: 100%;z-index: 1;padding:0 16px;box-shadow:2px 0 8px rgb(0 0 0 / 30%);}
.header .logo{margin-right: auto;font-size:15px;letter-spacing: 4px;}
.header .lnb{display: flex; align-items: center;letter-spacing: 3px;}

.ban-main{position: relative;}
.ban-main h1{position: absolute;left: 24px;bottom:40px;color:#999;}

.content{max-width: 1100px;margin: 0 auto;}
.sec{padding:64px 24px;border-bottom: 1px solid #f1f1f1;}
.sec-img{display: flex;justify-content: left;}
.sec-img .img{width: 50%;opacity: 0.8;padding:0 16px;}
.sec-img .info{width:50%;padding:16px;}
.sec-img .info h1{text-align: center;margin-bottom:48px}
.sec-img .info .text{font-size:18px;margin:18px 0;}
.sec-img .info .text.sub{color:#999}


.sec-img.sec-img-right{flex-direction: row-reverse;}
.sec-img-left .info h2{text-align: center;}
.sec-img-left .info .text{line-height: 1.5;}
.sec-img-left .info .text-bg-gray{background:#f1f1f1;padding: 2px 8px;} 

.sec-img-right .info h2{margin-bottom: 20px;font-size: 20px;}
.sec-img-right .info .text{margin-bottom: 40px;font-size:14px}

.contact h1{margin-bottom:40px;}
.contact p.text{margin-bottom:40px;font-size:15px}
.contact p.point{margin:20px 0;font-weight: bold;color:#607d8b;font-size: 18px;}
.contact input{display: block;line-height:55px;height: 55px;margin:15px 0;width: 100%;border:0;border-bottom:1px solid #ddd;padding:0 10px;font-size:14px;}
.contact .btn{border:0;margin-top:20px;background: #f1f1f1;font-size: inherit;}

.ft{text-align: center;height: 100px;background: #f1f1f1;display: flex; align-items: center; justify-content: center; }
.ft a{text-decoration: underline;margin-left:4px;}